<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>商品一覧ページ</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1>商品一覧</h1>
            <!-- ソートのセレクトボックス -->
            <select  name="" id="">
                <option value="商品価格高い順">商品価格高い順</option>
                <option value="商品価格低い順">商品価格低い順</option>
                <option value="商品名50音">商品名50音</option>
                <option value="レビューの評価順">レビューの評価順</option>
                <option value="レビューの多い順">レビューの多い順</option>
            </select>
            <div id="items">
                <% goods.forEach( item=> { %>
                    <div class="item">
                        <!-- 商品画像 -->
                        <img class="itemImg" src="/img/item<%= item.id %>.jpg" alt="<%= item.name %>">
                        <div class="itemDetails">
                            <div>
                                <!-- 商品名 -->
                                <p><%= item.name %></p>
                            </div>
                            <div>
                                <!-- 商品価格 -->
                                <p class="itemPrice"><%= item.price.toLocaleString() %>円</p>
                                <!-- レビューの平均値(レビュー数) -->
                                <p class="review">
                                <% let itemCount = [] %>
                                <% for (let i = 0; i < reviews.length; i++) { %>
                                    <% if (reviews[i].itemId === item.id) { %>
                                        <% itemCount.push(reviews[i].evaluation) %>
                                    <% } %>
                                <% } %>
                                <% let sum = 0 %>
                                <% let len = itemCount.length %>
                                <% for (let i = 0; i < len; i++) { %>
                                    <% sum += itemCount[i]; %>
                                <% } %>
                                <% let ave = (Math.round(sum / len * 10)) / 10 %>
                                <% if (sum === 0){ %>
                                    <% ave = 0 %>
                                <% } %>
                                    レビュー平均：<img class="reviewStar" src="/img/re.svg" alt="星"><span class="reviewAve"><%= ave %></span>
                                    <span>(<%= len %>)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <script>
            const reviews = JSON.parse('<%= JSON.stringify(reviews) %>'.replace(/&#34;/g, '"'))
            const goods = JSON.parse('<%= JSON.stringify(goods) %>'.replace(/&#34;/g, '"'))
           

        </script>
    </body>
</html>
